:root {
    --black: #181818;
    --neutral: #fafafa;
    --neutral-gray: #a3a3a3;
    --primary: #0070D2;
    --primary-10: #005FB2;
    --red: #C23934;
    --red-10: #A61A14;
    --green: #4BCA81;
    --green-10: #04844B;
}

html,
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #fafafa;
}

.wrapper__content {
    background: white;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 32px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0;
    gap: 24px;

}

 .avatar-bg, .avatar-md, .avatar-sm {

    border-radius: 90px;
    overflow: hidden;
    stroke-width: 0px;
}


.avatar img {
    width: 100%;
    
    object-fit: cover;
    object-position: center;
}



.avatar-sm {
    height: 32px;
    width: 32px;
    background-color: #181818;
}

.avatar-md {
    height: 64px;
    width: 64px;
    background-color: #181818;
}

.avatar-bg {
    height: 128px;
    width: 128px;
    background-color: #181818;
}


button {

padding: 8px 16px 8px 16px;
background-color: #0070D2;
stroke-width: initial;
border-style: none;
color: white;
border-radius: 4px;
vertical-align: middle;
display: flex;
gap: 4px;
font-size: 18px;
align-items: center;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    background-color: #005FB2;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:active {
    filter: drop-shadow(0px 0px 3px #005fb2);
    background-color: #005FB2;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#icon {
    font-size: inherit;
}
.material-symbols-outlined {
    font-size: inherit;
}



.btn-hover {

    background-color: #005FB2;

}

.btn-pressed {
    filter: drop-shadow(0px 0px 3px #005fb2);
    background-color: #005FB2;
}

.btn-disabled {
background-color: #C9C7C5;
pointer-events: none;
}


.input-fields {
    display: flex;
    flex-direction: column;
    stroke-width: initial;
}

label {
    font-size: 12px;
    color: #3E3E3C;
    margin-bottom: 4px;
    
}

input[type=text] {
    stroke-width: 1px;
    border: 1px solid #ccc;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

input::placeholder {
    
  opacity: 0.5;
  color: #3E3E3C;
  
}

input[name="input-focus"] {
    filter: drop-shadow(0px 0px 3px #1589EE);
    border: 1px solid #1589EE;
    
}

input[name="input-disabled"] {
   background-color: #ECEBEA;
    color: #706E6B;
    border: 1px solid #DDDBDA;
    pointer-events: none;
    
}


input[name="input-error"] {
   
     border: 1px solid #C23934;
     
     filter: drop-shadow(0px 0px 2px #C23934);
     
    
     
 }
 
 .input-fields [name="input-error"]::before{
   content: 'Error Label';
   color: #A61A14;  
   text-align: left; 
  
}

 input:focus {
    filter: drop-shadow(0px 0px 3px #1589EE);
    border: 1px solid #1589EE;

 }